.header {
    height: 120px;
    background-color: black;
    border-bottom: solid 3px whitesmoke;
    color: whitesmoke;
    font-size: 28px;
}

.header > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px 0 50px;
}

.header > div > div {
    display: flex;
}

.header > div > div > p:first-child {
    margin-right: 80px;
    display: flex;
    align-items: center;
}

/*/ Dropdown Menu /*/

.dropdown-menu > img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.nav {
    display: none;
}
